<header id="header">
    <div class="container">

      
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#!" ng-click="itemClicked()">Home</a></li>
          <li><a href="#!speakers" ng-click="itemClicked()">Speakers</a></li>
          <li><a href="#!agenda" ng-click="itemClicked()">Agenda</a></li>
          <li><a href="#!sponsors" ng-click="itemClicked()">Sponsors</a></li>
          <li><a href="#!contact" ng-click="itemClicked()">Contact</a></li>
          <li class="buy-tickets" ng-click="itemClicked()"><a href="#!tickets">Buy Tickets</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header style="margin-bottom: 50px;"><!-- #header -->

<div ng-view></div>


