<section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h2>Event Schedule</h2>
        <p>Here is our event schedule</p>
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="" role="tab" data-toggle="tab">Day 1</a>
        </li>
      </ul>

      <h3 class="sub-heading">Agenda is up to date.</h3>

      <div class="tab-content row justify-content-center">
        <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1" ng-init="getFirstDay()" >
          <div class="row schedule-item" ng-repeat="x in day1">
            <div class="col-md-2"><time>{{x.time | date: "HH:mm a"}}</time></div>
            <div class="col-md-10">
              <h4>{{x.activity}}</h4>
              <p>{{x.description}}</p>
            </div>
          </div>
        </div>
        <!-- End Schdule Day 1 -->
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="" role="tab" data-toggle="tab" style="margin-top:50px;">Day 2</a>
        </li>
      </ul>

      <div class="tab-content row justify-content-center">
        <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1" ng-init="getSecondDay()" >
          <div class="row schedule-item" ng-repeat="y in day2">
            <div class="col-md-2"><time>{{y.time | date: "HH:mm a"}}</time></div>
            <div class="col-md-10">
              <h4>{{y.activity}}</h4>
              <p>{{y.description}}</p>
            </div>
          </div>
        </div>
        <!-- End Schdule Day 1 -->
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="" role="tab" data-toggle="tab" style="margin-top:50px;">Day 3</a>
        </li>
      </ul>

      <div class="tab-content row justify-content-center">
        <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1" ng-init="getThirdDate()" >
          <div class="row schedule-item" ng-repeat="z in day3">
            <div class="col-md-2"><time>{{z.time | date: "HH:mm a"}}</time></div>
            <div class="col-md-10">
              <h4>{{z.activity}}</h4>
              <p>{{z.description}}</p>
            </div>
          </div>
        </div>
        <!-- End Schdule Day 1 -->
      </div>

    </div>

  </section>
