
<div ng-init="getConferenceInformation()">
  <div ng-repeat="conf in conferenceInfo" >
    <section id="intro" >
      <div class="intro-container wow fadeIn"  >
        <h1 class="mb-4 pb-0"> {{ conf.title }}</h1>
        <p class="mb-4 pb-0"> {{ conf.date | date : "EEEE, MMMM d, y" }},  {{ conf.place }},  {{ conf.city }}</p>
        <a href="{{conf.videoUrl}}" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
      </div>
    </section>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Event</h2>
            <p> {{ conf.description }}</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p> {{ conf.place }},  {{ conf.city }}</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p> {{ conf.date | date : "EEEE, MMMM d, y" }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>