<section id="speakers" class="wow fadeInUp" ng-init="getSpeakers()">
    <div class="container">
      <div class="section-header">
        <h2>Event Speakers</h2>
        <p>Here are our speakers</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" ng-repeat="speaker in speakers">
          <div class="speaker">
            <img src="{{ speaker.imageUrl }}" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="#!/speakers/{{speaker._id}}/show"> {{ speaker.firstname }} {{ speaker.lastname }}</a></h3>
              <p>{{ speaker.firstname }} currently works as {{ speaker.position }} in company named {{ speaker.company }}.</p>
              <div class="social">
                <a href="{{ speaker.twitterUrl }}"><i class="fa fa-twitter"></i></a>
                <a href="{{ speaker.facebookUrl }}"><i class="fa fa-facebook"></i></a>
                <a href="{{ speaker.linkedinUrl }}"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>