<section id="speakers-details" class="wow fadeIn" ng-init="showSpeaker()">
    <div class="container">
      <div class="section-header">
        <h2>Speaker Details</h2>
        <p>Here you can see more information about speaker.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img ng-src="{{ speaker.imageUrl }}" alt="Speaker 1" class="img-fluid">
        </div>

        <div class="col-md-6">
          <div class="details">
            <h2>{{ speaker.firstname }} {{ speaker.lastname }}</h2>
    
            <p>{{ speaker.topic }}</p>

            <p>{{ speaker.description }}</p> 

          </div>
        </div>
        
      </div>
    </div>

  </section>

</main>
